@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

:root {
  --green-brand: #006223;
  --orange-brand: #f58b20;
}

* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
