.container {
  width: 100%;
  background-color: var(--orange-brand);
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem;
}
