.container {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.catchphrase {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  z-index: 10;
}

.inputContainer {
  display: flex;
}

/* .liquid {
  position: absolute;
  width: 100%;
  height: 300px;
  background: var(--orange-brand);
  transition: 0.5s;
  z-index: -10;
}

.liquid::after,
.liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: -10%;
  left: 50%;
  background: #000;
}

.liquid::before {
  border-radius: 45%;
  background: rgb(255, 255, 255);
  animation: animate 14s linear infinite;
}

.liquid::after {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  animation: animate 17s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
} */

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2500px;
  height: 2500px;
  background: #ccc;
  border: 5px solid #4973ff;
  border-radius: 50%;
  overflow: hidden;
}
.wave {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--orange-brand);
  border-radius: 50%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}
.wave:before,
.wave:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}
.wave:before {
  border-radius: 45%;
  background: rgba(255, 255, 255, 1);
  animation: animate 15s linear infinite;
}
.wave:after {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  animation: animate 25s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -77%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -77%) rotate(360deg);
  }
}
